<div class="container shadow">
  <div id="<%= dom_id expense %>", class="row align-items-center justify-content-between">
    
    <div class="col-6">
      <%= content_tag :strong, expense.name %>
    </div>

    <div class="col-3">
      <strong>$</strong>
      <%= expense.amount %>
    </div>

    <div class="col-3">
      <%= link_to edit_expense_path(expense), class: "btn btn-sm btn-outline-primary me-2" do %>
        <i class="bi bi-pencil-square"></i>
      <% end %>
      <%= link_to expense_path(expense), method: :delete, class: "btn btn-sm btn-outline-danger" do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </div>
  </div>

  <div class="row">  
    <%= content_tag :p, expense.created_at.strftime('%e %b %Y'), class:'col-6'%>
  </div>
</div>

